:root {
    --blue: #0098d8;
    --black: #222222;
    --white: #ffffff;
    --red: #d32f2f;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    /*text-decoration: none !important;*/
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: auto;
}

.map {
    width: 100%;
    height: 245px;
}

@media (max-width: 900px) {
    .logo {
        width: 100px;
    }

    .img {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .logo {
        width: 150px;
    }

    .img {
        width: 50%;
    }
}

.banner-social-mobile{
    justify-content: start!important;
    gap: 30px;
    /*margin-top: 10px;*/
}

/*----------------ANIMATION BTN-------------------*/

@keyframes color {
    0%   { background: #be2a2a; }
    25%  { background: #c43f3f; }
    50%  { background: #be2a2a; }
    75%  { background: #c43f3f; }
    100% { background: #be2a2a; }
}

.animation-btn{
    animation: color 2s infinite linear;
}
